.form-add-ranger {
  .input {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    margin-bottom: 30px;
    .input1 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 10px auto;
      #email {
        width: 100%;
        margin-top: 7px;
        height: 40px;
        border-radius: 4px;
        border: 0.5px solid rgba(152, 152, 152, 0.482);
        padding: 3px 5px;
        font-size: 14px;
      }
      #name {
        width: 100%;
        margin-top: 7px;
        height: 40px;
        border-radius: 4px;
        border: 0.5px solid rgba(152, 152, 152, 0.482);
        padding: 3px 5px;
        font-size: 14px;
      }
      #name1 {
        width: 100%;
        margin-top: 7px;
        height: 100px;
        border-radius: 4px;
        border: 0.5px solid rgba(152, 152, 152, 0.482);
        padding: 3px 5px;
        font-size: 14px;
      }
    }
  }
}
